.item {
    color: #9fffd1;
    margin-bottom: 5px;

}

.link {
    color: #9fffd1;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

.link:hover {
    color: blue;
}

.link.activeLink {
    color: white;
    font-weight: bold;
}