.content {
    grid-area: content;
    background-color: wheat;
}

.contentImg {
    max-width: 100%;
    height: auto;
}

.profileImg {
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}