
.backPic {
    max-width: 100%;
    height: auto;
}

.avatar {
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}

.statusOuter {
    margin-bottom: 50px;
    margin-top: 50px;
}

.status {
    display: block;
    height: 40px;
    width: 100%;
    max-width: 400px;
    border: 1px solid white;
    min-width: 100px;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 5px;
}

.aboutList li {
    margin-bottom: 10px;
    line-height: 16px;
}
.aboutList li ul {
    margin-top: 10px;
}