.pagination {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 0 15px;
    margin: 0 15px;

}

.pagination li {
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #2b9895;
}

.pagination .selected {
    color: #17313e;
}

.button {
    background-color: transparent;
    border: 1px #02bf65 solid;
    border-radius: 4px;
    box-shadow: none;
    height: 30px;
}

.paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}