.item {
    color: #17313e;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.like {
    color: green;
    font-size: 14px;
}

.postDesc {
    margin-left: 10px;
}

.postDesc p {
    margin-top: 0;
    margin-bottom: 5px;
}
.postDesc button {
    margin-right: 5px;
}
